# Part 2 - Mapping Yelp Search Results

## Obective

- For this CodeAlong, we will be working with the Yelp API results from last class. 
- You will load in the .csv.gz of your yelp results and prepare the data for visualization.
- You will use Plotly Express to create an interactive map with all of the results.

## Tools You Will Use
- Part 1:
    - Yelp API:
        - Getting Started: 
            - https://www.yelp.com/developers/documentation/v3/get_started

    - `YelpAPI` python package
        -  "YelpAPI": https://github.com/gfairchild/yelpapi
- Part 2:

    - Plotly Express: https://plotly.com/python/getting-started/
        - With Mapbox API: https://www.mapbox.com/
        - `px.scatter_mapbox` [Documentation](https://plotly.com/python/scattermapbox/):

### Applying Code From
- [Advanced Transformations with Pandas - Part 1](https://login.codingdojo.com/m/376/12529/88086)
- [Advanced Transformations with Pandas - Part 2](https://login.codingdojo.com/m/376/12529/88088)

### Goal

- We want to create a map with every restaurant plotted as a scatter plot with detailed information that appears when we hover over a business
- We will use plotly express's `px.scatter_mapbox` function to accomplish this.
    - https://plotly.com/python/scattermapbox/
    
    - We will need a Mapbox API token for some of the options:
        - https://studio.mapbox.com/

# Loading Data from Part 1

In [1]:
## Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in k:\coding_dojo\anaconda\envs\dojo-env\lib\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in k:\coding_dojo\anaconda\envs\dojo-env\lib\site-packages (from plotly) (8.1.0)

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

## importing plotly 
import plotly.express as px

In [3]:
## Load in csv.gz
df = pd.read_csv('Data/Seattle - pizza.csv.gz')
df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,M9xzvwgK58T0w7wvXedvuQ,hot-mamas-pizza-seattle,Hot Mama's Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/LEL1qj...,False,https://www.yelp.com/biz/hot-mamas-pizza-seatt...,960,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 47.615379179632, 'longitude': -12...",['delivery'],$,"{'address1': '700 E Pine St', 'address2': '', ...",1.206323e+10,(206) 322-6444,2080.359405
1,t-Z9bvmlgUyDtomGmttrUQ,guerilla-pizza-kitchen-seattle,Guerilla Pizza Kitchen,https://s3-media4.fl.yelpcdn.com/bphoto/uMrdEj...,False,https://www.yelp.com/biz/guerilla-pizza-kitche...,1,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",5.0,"{'latitude': 47.608127, 'longitude': -122.302435}",[],NaN,"{'address1': '2300 E Cherry St', 'address2': '...",NaN,NaN,749.173113
2,EwrAoy7XbX8nfemZdDvupA,cornelly-seattle,Cornelly,https://s3-media4.fl.yelpcdn.com/bphoto/HlYYBT...,False,https://www.yelp.com/biz/cornelly-seattle?adju...,99,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 47.624577, 'longitude': -122.325577}","['delivery', 'pickup']",NaN,"{'address1': '601 Summit Ave E', 'address2': '...",NaN,NaN,2578.701393
3,FVbwpNA1uZEGiM02N4XtUg,blotto-seattle,Blotto,https://s3-media3.fl.yelpcdn.com/bphoto/Q4Y1Cw...,False,https://www.yelp.com/biz/blotto-seattle?adjust...,40,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 47.61849, 'longitude': -122.31664}",[],NaN,"{'address1': '1830 12th Ave', 'address2': '', ...",1.206403e+10,(206) 403-1809,1686.862176
4,IrohtoYjnAR_vc6w6CRCxA,moto-seattle,Moto,https://s3-media2.fl.yelpcdn.com/bphoto/FBmvjy...,False,https://www.yelp.com/biz/moto-seattle?adjust_c...,137,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 47.56207, 'longitude': -122.38509}",['delivery'],$$,"{'address1': '4526 42nd Ave SW', 'address2': '...",1.206421e+10,(206) 420-8880,8784.075722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,rcDbUcs83gvoRxhaTmFfnQ,cypress-lounge-and-wine-bar-bellevue,Cypress Lounge & Wine Bar,https://s3-media2.fl.yelpcdn.com/bphoto/DsFhIb...,False,https://www.yelp.com/biz/cypress-lounge-and-wi...,68,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",3.5,"{'latitude': 47.6157033283809, 'longitude': -1...",[],$$,"{'address1': '600 Bellevue Way NE', 'address2'...",1.425638e+10,(425) 638-1000,7123.208902
855,AsgtzyqpdjuPyjaEUVcUXA,jewel-of-india-seattle-3,Jewel Of India,https://s3-media2.fl.yelpcdn.com/bphoto/qJGMnl...,False,https://www.yelp.com/biz/jewel-of-india-seattl...,410,"[{'alias': 'indpak', 'title': 'Indian'}]",3.5,"{'latitude': 47.66410298, 'longitude': -122.31...","['delivery', 'pickup']",$$,"{'address1': '4735 University Way NE', 'addres...",1.206524e+10,(206) 523-5275,5825.461180
856,oniQ68t6VR1naVtUXmfETQ,pokeworks-bellevue-2,Pokeworks,https://s3-media1.fl.yelpcdn.com/bphoto/DqSOK8...,False,https://www.yelp.com/biz/pokeworks-bellevue-2?...,282,"[{'alias': 'poke', 'title': 'Poke'}, {'alias':...",4.0,"{'latitude': 47.61252119845868, 'longitude': -...","['pickup', 'delivery']",$$,"{'address1': '222 Bellevue Way NE', 'address2'...",1.425214e+10,(425) 214-1182,7072.982860
857,8S3qU0TGMJDyj4KHBmxlaw,pho-tai-kirkland,Pho Tai,https://s3-media3.fl.yelpcdn.com/bphoto/tnvGkA...,False,https://www.yelp.com/biz/pho-tai-kirkland?adju...,199,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",3.5,"{'latitude': 47.676215, 'longitude': -122.205084}","['pickup', 'delivery']",$$,"{'address1': '147 Park Ln', 'address2': '', 'a...",1.425577e+10,(425) 576-5407,9765.353049
858,i8mygke4ckycOudTO_3UQQ,café-cesura-bellevue-4,Café Cesura,https://s3-media4.fl.yelpcdn.com/bphoto/uEiPxA...,False,https://www.yelp.com/biz/caf%C3%A9-cesura-bell...,551,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",3.5,"{'latitude': 47.6196463475606, 'longitude': -1...",['delivery'],$,"{'address1': '1015 108th Ave NE', 'address2': ...",1.425955e+10,(425) 954-7277,7466.233853

## Required Preprocessing

- 1. We need to get the latitude and longitude for each business as separate columns.
- We also want to be able to show the restaurants:
    - name,
    - price range
    - address
    - and if they do delivery or takeout.

### Separating Latitude and Longitude

In [4]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

                                                     0
0    {'latitude': 47.615379179632, 'longitude': -12...
1    {'latitude': 47.608127, 'longitude': -122.302435}
2    {'latitude': 47.624577, 'longitude': -122.325577}
3      {'latitude': 47.61849, 'longitude': -122.31664}
4      {'latitude': 47.56207, 'longitude': -122.38509}
..                                                 ...
854  {'latitude': 47.6157033283809, 'longitude': -1...
855  {'latitude': 47.66410298, 'longitude': -122.31...
856  {'latitude': 47.61252119845868, 'longitude': -...
857  {'latitude': 47.676215, 'longitude': -122.205084}
858  {'latitude': 47.6196463475606, 'longitude': -1...

[859 rows x 1 columns]

- Why didn't that work??? let's check only one:

In [5]:
df['coordinates'][0]

"{'latitude': 47.615379179632, 'longitude': -122.32323073437}"

In [6]:
## slice out a single test coordinate
test_coord = df.loc[0, 'coordinates']
test_coord

"{'latitude': 47.615379179632, 'longitude': -122.32323073437}"

As you can see it is between double quotation so it is a string and not dictionary. 
- Its not a dictionary anymore!!! WTF??
    - CSV files cant store iterables (lists, dictionaries) so they get converted to strings.

### Fixing the String-Dictionaries

- The json module has another version of load and dump called `json.loads` and `json.dumps`
    - These are designed to process STRINGS instead of files. 
    
- If we use `json.loads` we can convert our string dictionary into an actual dictionary.

In [7]:
## Use json.loads on the test coordinate
json.loads(test_coord)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

- JSON requires double quotes!

In [8]:
## replace single ' with " 
test_coord = test_coord.replace("'", '"')
test_coord

'{"latitude": 47.615379179632, "longitude": -122.32323073437}'

ok! Now it is in double quote that is JSON requires

In [9]:
## Use json.loads on the test coordinate, again
json.loads(test_coord)

{'latitude': 47.615379179632, 'longitude': -122.32323073437}

ok! now it is real dictionary

### Now, how can we apply this same process to the entire column??

In [10]:
## replace ' with " (entire column)
df['coordinates'] = df['coordinates'].str.replace("'", '"')

## apply json.loads
df['coordinates'] = df['coordinates'].apply(json.loads)

In [11]:
df['coordinates']

0      {'latitude': 47.615379179632, 'longitude': -12...
1      {'latitude': 47.608127, 'longitude': -122.302435}
2      {'latitude': 47.624577, 'longitude': -122.325577}
3        {'latitude': 47.61849, 'longitude': -122.31664}
4        {'latitude': 47.56207, 'longitude': -122.38509}
                             ...
854    {'latitude': 47.6157033283809, 'longitude': -1...
855    {'latitude': 47.66410298, 'longitude': -122.31...
856    {'latitude': 47.61252119845868, 'longitude': -...
857    {'latitude': 47.676215, 'longitude': -122.205084}
858    {'latitude': 47.6196463475606, 'longitude': -1...
Name: coordinates, Length: 859, dtype: object

In [12]:
## slice out a single test coordinate
test_coord = df.loc[0, 'coordinates']
test_coord

{'latitude': 47.615379179632, 'longitude': -122.32323073437}

In [13]:
type(test_coord)

dict

### Using Apply with pd.Series to convert a dictionary column into multiple columns

In [14]:
## use .apply pd.Series to convert a dict to columns
df_coord = df['coordinates'].apply(pd.Series)
df_coord

      latitude   longitude
0    47.615379 -122.323231
1    47.608127 -122.302435
2    47.624577 -122.325577
3    47.618490 -122.316640
4    47.562070 -122.385090
..         ...         ...
854  47.615703 -122.200735
855  47.664103 -122.313426
856  47.612521 -122.201333
857  47.676215 -122.205084
858  47.619646 -122.196551

[859 rows x 2 columns]

In [18]:
## Concatenate the 2 new columns and drop the original.
df = pd.concat([df, df_coord], axis=1)
df = df.drop(columns='coordinates')
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,price,location,phone,display_phone,distance,latitude,longitude
0,M9xzvwgK58T0w7wvXedvuQ,hot-mamas-pizza-seattle,Hot Mama's Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/LEL1qj...,False,https://www.yelp.com/biz/hot-mamas-pizza-seatt...,960,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,['delivery'],$,"{'address1': '700 E Pine St', 'address2': '', ...",1.206323e+10,(206) 322-6444,2080.359405,47.615379,-122.323231
1,t-Z9bvmlgUyDtomGmttrUQ,guerilla-pizza-kitchen-seattle,Guerilla Pizza Kitchen,https://s3-media4.fl.yelpcdn.com/bphoto/uMrdEj...,False,https://www.yelp.com/biz/guerilla-pizza-kitche...,1,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",5.0,[],NaN,"{'address1': '2300 E Cherry St', 'address2': '...",NaN,NaN,749.173113,47.608127,-122.302435
2,EwrAoy7XbX8nfemZdDvupA,cornelly-seattle,Cornelly,https://s3-media4.fl.yelpcdn.com/bphoto/HlYYBT...,False,https://www.yelp.com/biz/cornelly-seattle?adju...,99,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"['delivery', 'pickup']",NaN,"{'address1': '601 Summit Ave E', 'address2': '...",NaN,NaN,2578.701393,47.624577,-122.325577
3,FVbwpNA1uZEGiM02N4XtUg,blotto-seattle,Blotto,https://s3-media3.fl.yelpcdn.com/bphoto/Q4Y1Cw...,False,https://www.yelp.com/biz/blotto-seattle?adjust...,40,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,[],NaN,"{'address1': '1830 12th Ave', 'address2': '', ...",1.206403e+10,(206) 403-1809,1686.862176,47.618490,-122.316640
4,IrohtoYjnAR_vc6w6CRCxA,moto-seattle,Moto,https://s3-media2.fl.yelpcdn.com/bphoto/FBmvjy...,False,https://www.yelp.com/biz/moto-seattle?adjust_c...,137,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,['delivery'],$$,"{'address1': '4526 42nd Ave SW', 'address2': '...",1.206421e+10,(206) 420-8880,8784.075722,47.562070,-122.385090

## Creating a Simple Map

### Register for MapBox API

Mapbox API: https://www.mapbox.com/

In [ ]:
## Load in mapbox api credentials fro00m .secret

- Use the plotly express `set_maptbox_acccess_token` function

In [ ]:
## set mapbox token

In [ ]:
## use scatter_mapbox for M.V.P map

### Adding Hover Data

- We want to show the restaurants:
    - name
    - price range
    - address
    - and if they do delivery or takeout.
    
    
- We can use the `hover_name` and `hover_data` arguments for `px.scatter_mapbox` to add this info!

In [ ]:
## add hover_name (name) and hover_data for price,rating,location

### Fixing the Location Column

In [ ]:
## slice out a test address

> Also a string-dictionary...

In [ ]:
## replace ' with "
df['location'] = df['location'].str.replace("'", '"')
df

In [ ]:
## apply json.loads

> Ruh roh....

- Hmm, let's slice out a test_address again and let's write a function to accomplish this instead.
    - We can use try and except in our function to get around the errors.

### Fixing Addresses - with a custom function

In [ ]:
## slice out test address 
test_addr = df.loc[0, 'location']
test_addr

In [ ]:
## write a function to just run json.loads on the address

In [ ]:
## test applying our function

- It worked! Now let's save this as a new column (display_location),
and then let's investigate the businesses that had an "ERROR".

In [ ]:
### save a new display_location column using our function

In [ ]:
## filter for businesses with display_location == "ERROR"

In [ ]:
## slice out a new test address and inspect
test_addr = df.loc[437, 'location']
test_addr

> After some more investigation, we would find a few issues with these "ERROR" rows.
1. They contained None.
2. They contained an apostrophe in the name.
3. ...?

### Possible Fixes (if we care to/have the time)

- Use Regular Expressions to find an fix the display addresses with "'" in them
- Use string split to split on the word display address.
    - Then use string methods to clean up

### Moving Forward without those rows (for now)

In [ ]:
## remove any rows where display_location == 'ERROR'

- We want the "display_address" key from the "display_location" dictionaries.
- We could use a .apply and a lamda to slice out the desired key.

In [ ]:
## use apply and lambda to slice correct key

- Almost done! We want to convert display_address to a string instead a list of strings.
- We can use the string method .join to do so!

In [ ]:
## slice out a test_address

In [ ]:
## test using .join with a "\n"

In [ ]:
## apply the join to every row with a lambda

### Final Map

In [ ]:
## make ourn final map and save as varaible

#### HTML Uses `<br>` instead of `\n`

In [ ]:
## remake the final address column with <br> instead 

## plot the final map

In [ ]:
## use fig.write_html to save map